@mixin respond-to($breakpoint) {
  @if $breakpoint == small {
    @media (max-width: 600px) { @content; }
  } @else if $breakpoint == medium {
    @media (max-width: 768px) { @content; }
  } @else if $breakpoint == large {
    @media (max-width: 992px) { @content; }
  } @else if $breakpoint == xlarge {
    @media (max-width: 1200px) { @content; }
  }
}

header {
  position: absolute;
  width: 41.66vw;
  height: 5.55vw;
  display: flex;
  flex-direction: column;
  top: 3.47vw;
  gap: 0.69vw;


  @include respond-to(large) {
    width: 60.4vw;
    height: 8.06vw;
    top: 5.04vw;
    gap: 1.00vw;
  }
  @include  respond-to(small)
  {
    width: 89.59vw;
    height: 13.92vw;
    gap: 1.48vw;
  }

  img{
    padding: 0 1.38vw 0 1.38vw;
    width: 1.38vw;
    height: 1.38vw;

      @include respond-to(large) {
   padding: 0 2.07vw 0 2.07vw;
    width: 2.07vw;
    height: 2.07vw;
  }
  @include  respond-to(small)
  {
    padding: 0 2.5vw 0 2.5vw;
    width: 3.5vw;
    height: 3.5vw;
  }
  }

  h1 {
    font-size: 1.11vw;
    width: 11.11vw;
    line-height: 1.39vw;
    height: 1.39vw;
    color: #363636;
    font-weight: 600;
    margin: 0;

    @include respond-to(large) {
      font-size: 1.61vw;
      width: 16.14vw;
      line-height: 2.02vw;
      height: 2.02vw;
    }
    @include respond-to(small)
    {
      font-size: 4.5vw;
      width: 89.59vw;
      height: 4.5vw;
      line-height: 4.7vw;
    }
  }

  input {
    font-size: 1.11vw;
    color: #575757;
    outline: none;
    padding: 0;
    border: none;
    width: 34.72vw;

    @include respond-to(large) {
      font-size: 1.61vw;
      width: 50.41vw;
    }
    @include respond-to(small)
    {
      width: 74.6vw;
      font-size: 3.5vw;
    }
  }
}

.field {
  width: 41.66vw;
  height: 3.4vw;
  display: flex;
  align-items: center;
  border-radius: 0.34vw;
  border: 0.069vw solid #EAEAEA;
  box-shadow: 0 0.55vw 1.66vw 0 rgba(0,0,0,0.05);
  box-sizing: border-box;
  transition: transform 200ms;

  @include respond-to(large) {
    width: 60.4vw;
    height: 4.94vw;

  }
   @include respond-to(small)
    {
      width: 89.59vw;
      height: 7.94vw;
    }
  &:focus-within {
    border: 0.069vw solid #3b5cea;
  }
}

.underline {


  position: absolute;
  top: 11.8vw;
  width: 89.58vw;
  height: 1.73vw;
  border-bottom: 0.069vw solid #EAEAEA;

  @include respond-to(large) {
    gap: 0.4522vw;
    top: 15.694vw;
    height: 2.3009vw;
    border-bottom: 0.09177vw solid #EAEAEA;
  }
  @include respond-to(small)
  {

    top:21.22vw;
     height: 4.9vw;

  }
}

.resCount {
  height: 1.38vw;
  text-align: start;
  font-size: 1.1vw;
  color: #363636;
  margin: 0;

  @include respond-to(large) {
    height: 2.00vw;
    font-size: 1.60vw;
  }
  @include respond-to(small)
  {
    height: 4.2vw;
    font-size: 4vw;
  }
}

.cardsBox {
  position: absolute;
  width: 89.59vw;
  top: 16.66vw;

  display: flex;
  flex-wrap: wrap;
  gap: 3.125vw;

    @include respond-to(large) {
      top: 22.15vw;

  }
  @include respond-to(large) {
      top: 27.15vw;

  }
}
.centerContainer
{
  display: flex;
  flex-direction: column;
  width: 89.59vw;
  height: 100%;
  position: relative;
  margin: 0 auto;
}
